/*Main Styles*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
    padding-bottom: 5px;
}
ul{
    padding: 0;
    margin: 0;
}
.fas{
    margin: 0;
    padding: 0;
}
/*Main Navigation Styles*/
.standard-nav{
    width: 100%;
    min-height: 45px;
    box-sizing: border-box;
    padding: 0 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    color: #ffffff;
    background-color: #2b2a2b;
}
.standard-nav > ul {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.standard-nav > ul > li:hover{
    color: #f4ac34;
    border-bottom: 1px solid #f4ac34;
    cursor: pointer;
}
#lang-button{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 100%;
    background-color: #2b2a2b;
    color: #ffffff;
    position: absolute;
    right: 10px;
    animation: PulseCircle 01s ease-in-out infinite both;
    cursor: pointer;
}
/*Right Dots Navigation Styles And ArrowDown Styles*/
.dots-and-arrow-nav{
    position: fixed;
    right: 10px;
    text-align: center;
    cursor: pointer;
}
.dots-and-arrow-nav > ul > li::before{
    content: ' ';
    width: var(--sizeOfDot);
    height: var(--sizeOfDot);
    margin: 10px 0;
    display: inline-block;
    border-radius: 100%;
    background-color: var(--backgroundColorOfDot);
}
#arrow-down{
    top: 90%;
    animation: ArrowDownAnimation 0.8s linear 0s infinite alternate;
    margin: 0;
    padding: 0;
    border: none;
    position: fixed;
    left: 50%;
    color: #ffffff;
    background-color: #202020;
    cursor: pointer;
}
/*All Sections Styles*/
section{
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}
/*First Section (Home) Styles*/
.home-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-page > figure > img{
    border-radius: 50%;
    border: 3px solid #f4ac34;
    animation: ShowPhotoAnimation 1s ease-in reverse both;
}
header{
    animation: ShowHeaderAnimation 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.7s reverse both;
}
header > h1{
    margin: 10px 0;
    padding: 0;
    color: #f4ac34;
}
header > h3, h6{
    margin: 10px 0;
    padding: 0;
    color: #ffffff;
}
#meet-me-button{
    background-color: #f4ac34;
    color: #ffffff;
    text-align: center;
}
#get-my-CV-button{
    background-color: #ffffff;
    color: #f4ac34;
    text-align: center;
}
#meet-me-button:hover, #get-my-CV-button:hover{
    cursor: pointer;
    animation: ButtonBeatAnimation 2s ease-in-out infinite both;
}
/*Second Section (About Me) Styles*/
.about-me{
    width: 75%;
    height: auto;
    padding: 10px;
    background-color: #363636;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
}
.about-me > div > h3{
    color: #f4ac34;
    font-weight: 600;
    font-size: 3vw;
}
/*Third Section (Portfolio) Styles*/
.projects-container{
    width: 85%;
}
.projects-container, .single-project{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-project:hover{
    animation: ProjectsLogoAnimation 1.5s ease-in-out infinite both;
}
.single-project > img{
    border-radius: 10px;
    border-bottom: 8px solid #f4ac34;
    border-top: 8px solid #f4ac34;
}
a > .check-project-button{
    width: 50%;
    height: 50%;
    font-weight: 600;
    font-size: 100%;
    color: #ffffff;
    background-color: #202020;
    border: 1px solid #ffffff;
    border-radius: 100%;
    position: absolute;
    top: 20%;
    left: 25%;
    display: none;
    justify-content: center;
    align-items: center;
}
.github-button, .github-button:hover{
    width: 220px;
    height: 50px;
    color: #ffffff;
    font-size: 1rem;
    background-color: #f4ac34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: ButtonBeatAnimation 2s ease-in-out infinite both;
}
/*Fourth Section (Tech) Styles*/
.skills-container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.skills-wrapper{
    background-color: #202020;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 30px;
}
.top-part{
    width: 100%;
    height: 50%;
    position: absolute;
    border-bottom-left-radius: 12vw;
    border-bottom-right-radius: 12vw;
    transform: rotate(10deg);
    bottom: 0;
    transform-origin: 50% 0%;
    z-index: 1;
}
.scale-part{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    border-bottom-left-radius: 12vw;
    border-bottom-right-radius: 12vw;
    transform: rotate(180deg);
    background-color:#363636;
}
.text-wrapper{
    width: 90%;
    height: 90%;
    background-color: #202020;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    z-index: 2;
    color: #ffffff;
}
.text-wrapper > p{
    font-family: 'Exo', sans-serif;
    text-align: center;
    position: absolute;
}
.text-wrapper > figure{
    width: 110%;
    background-color: #202020;
    text-align: center;
    margin-top: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.text-wrapper > figure > img{
    margin: 5px 0;
}
.text-wrapper > figure > figcaption{
    margin: 0 0 10px;
}
/*Classes to anim Tech Section*/
.anim-bar1{
    background-color: #f4ac34;
    animation: 1.5s linear 1 0.5s html-bar-rotate;
    animation-fill-mode: forwards;
}
.anim-bar2{
    background-color: #f4ac34;
    animation: 1.5s linear 1 0.5s css-bar-rotate;
    animation-fill-mode: forwards;
}
.anim-bar3{
    background-color: #f4ac34;
    animation: 1.5s linear 1 0.5s sass-bar-rotate;
    animation-fill-mode: forwards;
}
.anim-bar4{
    background-color: #f4ac34;
    animation: 1.5s linear 1 0.5s styled-components-bar-rotate;
    animation-fill-mode: forwards;
}
.anim-bar5{
    background-color: #f4ac34;
    animation: 1.5s linear 1 0.5s javascript-bar-rotate;
    animation-fill-mode: forwards;
}
.anim-bar6{
    background-color: #f4ac34;
    animation: 1.5s linear 1 0.5s typescript-bar-rotate;
    animation-fill-mode: forwards;
}
.anim-bar7{
    background-color: #f4ac34;
    animation: 1.5s linear 1 0.5s react-bar-rotate;
    animation-fill-mode: forwards;
}
.anim-bar8{
    background-color: #f4ac34;
    animation: 1.5s linear 1 0.5s csharp-bar-rotate;
    animation-fill-mode: forwards;
}
/*Fifth Section (Contact) Styles*/
.contact-info, .contact-form{
    width: 85%; 
    padding: 10px;
    box-sizing: border-box;
}
.contact-info > ul > li > a:link, a:visited, a:hover, a:active{
    color: #636363;
    background-color: transparent;
    text-decoration: none;
}
.contact-info > ul > li > a:hover{
    color: #909090;
}
.contact-form{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
input, textarea{
    width: 100%;
    background-color: #363636;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    padding: 0 10px;
    outline: none;
    font-size: 14px;
    color: #ffffff;
}
.email-form{
    margin-right: 3.5%;
}
.email-form, .phone-form{
    width: 40%;
}
textarea{
    resize: none;
    padding: 10px;
}
.send-button{
    margin: 10px auto;
    background-color: #f4ac34;
    border: none;
    border-radius: 10px;
    color: #ffffff;
}
.contact-info > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-info > ul > li{
    margin: 10px;
}
.contact-info > ul > li > a > i{
    margin-right: 3px;
}
/*--------------------------------------------------------*/
/*Media Query - RWD Options*/
@media only screen and (max-width: 530px) {
    /*Main Navigation Styles - RWD*/
    .standard-nav > ul {
        font-size: 3vw;
        width: 80%;
    }
    #lang-button{
        width: 6vw;
        height: 6vw;
        font-size: 2.5vw;
    }
    #arrow-down{
        font-size: 5vw;
    }
    .section{
        min-height: 150px;
    }
    /*First Section (Home) Styles - RWD*/
    .home-page{
        width: 65%;
        height: 70%;
        position: relative;
    }
    header{
        width: 100%;
        position: absolute;
        top: 35%;
        text-align: center;
    }
    header > h1{
        font-size: 12vw;
    }
    header > h3{
        font-size: 7vw;
        font-weight: 500;
    }
    header > h6{
        font-size: 4vw;
        font-weight: 200;
    }
    #meet-me-button, #get-my-CV-button{
        width: 50vw;
        height: 5vh;
        margin: 10px;
        border-radius: 10px;
        border: none;
        font-size: 5vw;
    }
    .home-page > figure{
        width: 100%;
        height: 25%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
    }
    .home-page > figure > img{
        width: 32vw;
        height: 32vw;
    }
    /*Second Section (AboutMe) Styles - RWD*/
    .about-me{
        font-size: 3.5vw;
    }
    .about-me > figure {
        margin: 0;
    }
    .about-me > figure > img{
        width: 20vw;
        padding: 3px;
        float: left;
        margin: 0 10px 0 0;
        border: 2px solid #f4ac34;
        border-radius: 5px;
    }
    /*Third Section (Portfolio) Styles - RWD*/
    .projects-container{
        margin-top: 25px;
        flex-wrap: wrap;
    }
    .single-project{
        width: 30vw;
        height: 35vw;
        margin: 15px 10px;
    }
    .single-project > img{
        width: 30vw;
        height: 35vw;
    }
    /*Fourth Section (Tech) Styles - RWD*/
    .skills-container{
        width: 75%;
        height: 100%;
    }
    .skills-wrapper{
        width: 20vw;
        height: 20vw;
    }
    .text-wrapper > p {
        font-size: 3.5vw;
    }
    .text-wrapper > figure > figcaption{
        width: 100vw;
        font-size: 3vw;
    }
    .text-wrapper > figure > img{
        width: 8vw;
        height: 8vw;
    }
    /*Fifth Section (Contact) Styles - RWD*/
    input, textarea{
        height: 30px;
    }
    textarea{
        height: 100px;
    }
    .send-button{
        width: 150px;
        height: 40px;
    }
}
@media only screen and (min-width: 531px) and (max-width: 1007px){
    /*Main Navigation Styles - RWD*/
    .standard-nav > ul {
        width: 60%;
        font-size: 2vw;
    }
    #lang-button{
        width: 3.5vw;
        height: 3.5vw;
        font-size: 1.5vw;
    }
    #arrow-down{
        font-size: 4vw;
    }
    .section{
        min-height: 150px;
    }
    /*First Section (Home) Styles - RWD*/
    .home-page{
        width: 80%;
    }
    header > h1{
        font-size: 8vw;

    }
    header > h3{
        font-size: 4vw;
        font-weight: 500;
    }
    header > h6{
        font-size: 2vw;
        font-weight: 200;
    }
    #meet-me-button, #get-my-CV-button{
        width: 15vw;
        margin: 10% 10px 5% 0;
        padding: 5px;
        border-radius: 10px;
        border: none;
        font-size: 2vw;
    }
    .home-page > figure > img{
        width: 25vw;
    }
    /*Second Section (AboutMe) Styles - RWD*/
    .about-me{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
    }
    .about-me > figure > img{
        width: 15vw;
        border-bottom: 5px solid #f4ac34;
        border-left: 5px solid #f4ac34;
        padding: 5px;
        border-radius: 10px 80px 10px 70px;
    }
    /*Third Section (Portfolio) Styles - RWD*/
    .single-project{
        width: 16vw;
        height: 16vw;
        margin: 15px;
    }
    .single-project > img{
        width: 16vw;
        height: 16vw;
    }
    /*Fourth Section (Tech) Styles - RWD*/
    .skills-container{
        width: 80%;
        padding: 0 20%;
    }
    .skills-wrapper{
        width: 10vw;
        height: 10vw;
    }
    .text-wrapper > p {
        font-size: 1.6vw;
    }
    .text-wrapper > figure > figcaption{
        width: 100vw;
        font-size: 1.5vw;
    }
    .text-wrapper > figure > img{
        width: 5vw;
        height: 5vw;
    }
    .styled-components > figure > figcaption{
        font-size: 1.2vw;
    }
    /*Fifth Section (Contact) Styles - RWD*/
    input, textarea{
        height: 25px;
    }
    textarea{
        height: 100px;
    }
    .send-button{
        width: 50px;
        height: 30px;
    }
    .contact-info > ul{
        flex-wrap: nowrap;
    }
}
@media only screen and (min-width: 1008px){
    /*Main Navigation Styles - RWD*/
    .standard-nav > ul {
        width: 30%;
        font-size: 1vw;
    }
    #lang-button{
        width: 2.5vw;
        height: 2.5vw;
        font-size: 1vw;
    }
    #arrow-down{
        font-size: 3vw;
    }
    /*First Section (Home) Styles - RWD*/
    .home-page{
        width: 65%;
    }
    header > h1{
        font-size: 6vw;
    }
    header > h3{
        font-size: 3.5vw;
        font-weight: 500;
    }
    header > h6{
        font-size: 1.5vw;
        font-weight: 200;
    }
    #meet-me-button, #get-my-CV-button{
        width: 10vw;
        height: 5vh;
        margin: 20px 0;
        border-radius: 10px;
        border: none;
        font-size: 1.5vw;
    }
    #get-my-CV-button{
        margin-left: 15px;
    }
    .home-page > figure > img{
        width: 25vw;
    }
    /*Second Section (AboutMe) Styles - RWD*/
    .about-me{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
    }
    .about-me > figure > img{
        width: 15vw;
        border-bottom: 5px solid #f4ac34;
        border-left: 5px solid #f4ac34;
        padding: 5px;
        border-radius: 10px 80px 10px 70px;
    }
    /*Third Section (Portfolio) Styles - RWD*/
    .single-project{
        width: 16vw;
        height: 16vw;
        margin: 15px;
    }
    .single-project > img{
        width: 16vw;
        height: 16vw;
    }
    /*Fourth Section (Tech) Styles - RWD*/
    .skills-container{
        width: 75%;
        height: 85%;
    }
    .skills-wrapper{
        width: 15vw;
        height: 15vw;
    }
    .text-wrapper > p {
        font-size: 1.5vw;
    }
    .text-wrapper > figure{
        height: 60%;
    }
    .text-wrapper > figure > figcaption{
        width: 100vw;
        font-size: 1.5vw;
    }
    .text-wrapper > figure > img{
        width: 4vw;
        height: 4vw;
    }
    /*Fifth Section (Contact) Styles - RWD*/
    .contact-form{
        margin-top: 5vw;
        width: 45%;
    }
    input, textarea{
        height: 30px;
    }
    textarea{
        height: 150px;
    }
    .send-button{
        width: 150px;
        height: 40px;
    }
}
/*Global Animation*/
@keyframes PulseCircle {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
@keyframes ArrowDownAnimation{
    to{top: 92%;}
}
@keyframes ShowPhotoAnimation {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
      100% {
        transform: translateX(1000px) rotate(540deg);
        opacity: 0;
    }
}
@keyframes ShowHeaderAnimation {
    0% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
      100% {
        transform: scaleX(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}
@keyframes ButtonBeatAnimation {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
}
@keyframes ProjectsLogoAnimation {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.99);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.99);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
}
/*Animation to Tech Section (bars)*/
@keyframes html-bar-rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(162deg)
    }
}
@keyframes css-bar-rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(153deg)
    }
}
@keyframes sass-bar-rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(144deg)
    }
}
@keyframes styled-components-bar-rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(135deg)
    }
}
@keyframes javascript-bar-rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(135deg)
    }
}
@keyframes typescript-bar-rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(126deg)
    }
}
@keyframes react-bar-rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(117deg)
    }
}
@keyframes csharp-bar-rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(90deg)
    }
}